.game-runner {
  /* padding: 0.5em 0; */
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: relative;
}

.header {
  width: 100%;
  top: 0.5em;
  position: absolute;
  display: flex;
  justify-content: center;
}

.game-content {
  height: 100%;
  /* padding-top: 2.5em; */
  box-sizing: border-box;
}
