.manager {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 100vh 100vh;
  grid-template-columns: 1fr;
  align-items: stretch;
  justify-items: center;
}

.manager > * {
  max-width: 405px;
  width: 100%;
  height: 100%;
}
