h1 {
  margin: 0;
  text-transform: lowercase;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 2em;
  padding: 0 1em;
  box-sizing: border-box;
}

.difficulty-buttons {
  display: grid;
  gap: 10px;
  padding: 1em;
  padding: 1em;
  box-sizing: border-box;
}
