.question {
  align-self: center;
  min-width: 365px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* gap: 2em; */
}

img {
  object-fit: contain;
}

.option-buttons {
  display: grid;
  gap: 0.2em;
}

.content {
  max-height: 50%;
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* gap: 1em; */
}

.actions {
  /* align-items: stretch; */
  width: 100%;
  display: grid;
  gap: .8em;
  padding: 2em;
  flex: none;
}

h2 {
  margin: 0;
}
