.question {
  padding-top: 2em;
  align-self: center;
  min-width: 365px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* gap: 2em; */
}

img {
  object-fit: contain;
  max-height: 100%;
  z-index: -1;
}

.option-buttons {
  display: grid;
  gap: 0.2em;
  padding: 0 0.2em;
}

.content {
  max-height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* gap: 1em; */
}

.actions {
  /* align-items: stretch; */
  width: 100%;
  display: grid;
  gap: 0.8em;
  padding: 2em;
  flex: none;
}

h2 {
  margin: 0;
}

.province {
  /* fade in  */
  animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
