button {
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: 0.25s;
  transition-property: border-color, background-color, transform;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  width: 100%;
  color: var(--dark);
  --color: var(--light);
  --border-color: var(--dark);
  background-color: var(--color);
  border-color: var(--dark);
}
button:hover:not(.disabled) {
  border-color: var(--border-color, var(--color, var(--dark)));
  background-color: color-mix(in srgb, var(--color) 70%, transparent);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:active {
  transform: scale(0.98);
}
.correct,
.easy {
  color: var(--light);
  --color: var(--green);
  background-color: var(--green);
}

.medium {
  --color: var(--yellow);
  background-color: var(--yellow);
}

.incorrect,
.hard {
  color: var(--light);
  --color: var(--red);
  background-color: var(--red);
}

.option:hover:not(.disabled) {
  background-color: color-mix(in srgb, var(--dark) 7%, transparent);
}

.next {
  width: 100%;
}

.align-left {
  justify-content: flex-start;
}
